.contenedor{

    width: 100%;
    height: 400px;
    background-color: rgb(10, 10, 10);
    opacity: inherit;
    
}

.señor_de_los_anillos  {
display: flex;

width: 100%;
height: 100%;
background-size: cover;
position: relative;
}

.señor_de_los_anillos::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(65, 58, 58,.7);
    position: absolute;
}


.señor_de_los_anillos p h3{
    color: white;
   
}


.piratas  {
    display: flex;
    
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    }
    
    .piratas::after{
        content: '';
        width: 100%;
        height: 100%;
        background-color:rgba(65, 58, 58,.7);
        position: absolute;
    }
    
    
    .piratas p h3{
        color: white;  
    }
    
.harry {
        display: flex;
        
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;
        }
        
.harry::after{
            content: '';
            width: 100%;
            height: 100%;
            background-color:rgba(65, 58, 58,.7);
            position: absolute;
        }
        
        
        
.harry p h3{
            color: white;
           
        }
