/*Styles of Home*/
.Home-container{
    background-color:#0f1214;
}
.Home-container> p{
    color: white;
    font-size: 30px;
    padding-left: 20px;

}
.Home-container span{
    color: rgb(56, 185, 236);
    font-size: 35px;
} 

/*Styles of Card-shop*/
.Tienda-container{
    width: 100%;
    height: 100%;
    background-color: #0f171e;
}
.card-tienda{
    display: grid;
   max-width: 600px;
   height: 100%;   
   padding: 20px 20px;
   grid-template-rows: 1fr 1fr 1fr ;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-gap: 20px ;
}
 .card-component{
    position: absolute;
    padding-left: 500px;
}
/*Styles of Player*/
.player{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 600px;
}


